# Notebook to Compare 2 R-Maps using Permutation
- Notes on controlling a regression:
    - Adding covariates to a regression will 'control' for them, but will almost always increase the R-squared. 
    - To 'remove' a covariate from the regression, you will want to regress a nuisance covariate OUT of the covariate of interest. 
        - This means your regressor will become the residuals from the regression of cov_1 ~ nuisance_cov1

In [19]:
out_dir = '/Volumes/Expansion/datasets/Manitoba_PET/PET_R_Maps/autonocog_memory/similarity_to_lesion_memory_net'

In [20]:
#dataset 1 info
## Alzheimer Atrophy
# import_path = '/Volumes/Expansion/datasets/adni/neuroimaging/true_ad_randomized/connectivity/seeded_connectivity'
# file_target = '*_T.nii*'
# pre = 'sub-subh'
# post = 'ucomposite'
# input_csv_path = '/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/atrophy_seeds_2023/metadata/true_ad_patient_data/z0_atrophy_thresholded.csv'
# sheet= None 
# variable_of_interest = 'Q4'
# column = None # The column you'd like to evaluate
# condition = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value = None # The value to compare against

## Grafman 
import_path = '/Volumes/Expansion/datasets/GRAFMAN_TBI_MULTIFOCAL/grafman_fc'
file_target = '*/connectivity/*t_conn.nii*'
pre = 'sub-'
post = '_tome'
input_csv_path = '/Volumes/Expansion/datasets/GRAFMAN_TBI_MULTIFOCAL/metadata/mmse_scores.csv'
sheet = None 
variable_of_interest = 'mmse5'
column = None  # The column you'd like to evaluate
condition = None  # Thecondition to check ('equal', 'above', 'below', 'not')
value = None # for dropping. The value to compare against

## Corbetta
# import_path = '/Volumes/Expansion/datasets/CORBETTA_STROKE_MULTIFOCAL/BIDS_Dataset'
# file_target = '*/connectivity/*t_conn.nii*'
# pre = 'sub-'
# post = '_tome'
# input_csv_path = '/Volumes/Expansion/datasets/CORBETTA_STROKE_MULTIFOCAL/Study_Metadata/FCS_Demographics_and_Behavior_MDF2.xlsx'
# sheet = 'FCS_Demographics_and_Behavior.c' 
# variable_of_interest = 'hvlt_delay'
# column = 'redcap_event_name'  # The column you'd like to evaluate
# condition = 'not'  # Thecondition to check ('equal', 'above', 'below', 'not')
# value = 'acute_arm_1' # The value to compare against

## Epilepsy Hypometabolism
# import_path = '/Volumes/Expansion/datasets/Manitoba_PET/PET_Conn'
# file_target = '*_T.nii*'
# pre = 'sub-subh'
# post = 'ulesion'
# input_csv_path = '/Volumes/Expansion/datasets/Manitoba_PET/master_list_howard.xlsx'
# sheet = 'autonocog' 
# variable_of_interest = 'Memory__max_26_'
# column = None  # The column you'd like to evaluate
# condition = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value = None # for dropping. The value to compare against

## PD DBS Queensland
# import_path = '/Volumes/Expansion/datasets/Queensland_PD_DBS_STN/derivatives/conn'
# file_target = '*_T.nii*'
# pre = 'LeadDBS'
# post = '_vat'
# input_csv_path = '/Volumes/Expansion/datasets/Queensland_PD_DBS_STN/Clinical/BE_CGN_QU_Clinical_Demographic.xlsx'
# sheet = 'Memory' 
# variable_of_interest = 'MOCA_Recall_change_PreToFU4_rel____'
# column = None  # The column you'd like to evaluate
# condition = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value = None # for dropping. The value to compare against

## Epilepsy DBS SANTE
# import_path = '/Volumes/Expansion/datasets/SANTE_Epilepsy_DBS_ANT/derivatives/conn'
# file_target = '*/connectivity/*t_conn.nii*'
# pre = 'sub-superconservativeu'
# post = '_tome'
# input_csv_path = '/Volumes/Expansion/datasets/SANTE_Epilepsy_DBS_ANT/metadata/sante_cognitive_scores_with_percent_change_WIDE.csv'
# sheet = None 
# variable_of_interest = 'Any_trouble_with_Memory_number_Percent_Change_Corrected_V2_Month_12'
# column = None  # The column you'd like to evaluate
# condition = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value = None # for dropping. The value to compare against

## Epilepsy iEEG
# import_path = '/Volumes/Expansion/datasets/Kahana_Epilepsy_iEEG/derivatives/connectivity'
# file_target = '*_T.nii*'
# pre = 'sub-'
# post = '_T'
# input_csv_path = '/Volumes/Expansion/datasets/Kahana_Epilepsy_iEEG/master_list.csv'
# sheet = None 
# variable_of_interest = 'deltarec'
# column = None  # The column you'd like to evaluate
# condition = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value = None # for dropping. The value to compare against

# ## AD DBS
# import_path = '/Volumes/Expansion/datasets/ADVANCE_AD_DBS_FORNIX/connectivity_data/vta_published_t_connectivity'
# file_target = '*_T.nii*'
# pre = ''
# post = '_vat'
# input_csv_path = '/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/cognition_2023/metadata/master_list_proper_subjects.xlsx'
# sheet = 'master_list_proper_subjects' 
# variable_of_interest = 'Percent_Cognitive_Improvement'
# column = None  # The column you'd like to evaluate
# condition = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value = None # The value to compare against

In [21]:
#dataset 2 info
## Alzheimer Atrophy
# import_path2 = '/Volumes/Expansion/datasets/adni/neuroimaging/true_ad_randomized/connectivity/seeded_connectivity'
# file_target2 = '*_T.nii*'
# pre2 = 'sub-subh'
# post2 = 'ucomposite'
# input_csv_path2 = '/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/atrophy_seeds_2023/metadata/true_ad_patient_data/z0_atrophy_thresholded.csv'
# sheet2 = None 
# voi2 = 'Q4'
# column2 = ''  # The column you'd like to evaluate
# condition2 = 'not'  # Thecondition to check ('equal', 'above', 'below', 'not')
# value2 = '' # for dropping. The value to compare against

## Grafman 
# import_path2 = '/Volumes/Expansion/datasets/GRAFMAN_TBI_MULTIFOCAL/grafman_fc'
# file_target2 = '*/connectivity/*t_conn.nii*'
# pre2 = 'sub-'
# post2 = '_tome'
# input_csv_path2 = '/Volumes/Expansion/datasets/GRAFMAN_TBI_MULTIFOCAL/metadata/mmse_scores.csv'
# sheet2 = None 
# voi2 = 'mmse5'
# column2 = None  # The column you'd like to evaluate
# condition2 = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value2 = None # for dropping. The value to compare against

## Corbetta
import_path2 = '/Volumes/Expansion/datasets/CORBETTA_STROKE_MULTIFOCAL/BIDS_Dataset'
file_target2 = '*/connectivity/*t_conn.nii*'
pre2 = 'sub-'
post2 = '_tome'
input_csv_path2 = '/Volumes/Expansion/datasets/CORBETTA_STROKE_MULTIFOCAL/Study_Metadata/FCS_Demographics_and_Behavior_MDF2.xlsx'
sheet2 = 'FCS_Demographics_and_Behavior.c' 
voi2 = 'hvlt_delay'
column2 = 'redcap_event_name'  # The column you'd like to evaluate
condition2 = 'not'  # Thecondition to check ('equal', 'above', 'below', 'not')
value2 = 'acute_arm_1' # The value to compare against

## Epilepsy Hypometabolism
# import_path2 = '/Volumes/Expansion/datasets/Manitoba_PET/PET_Conn'
# file_target2 = '*_T.nii*'
# pre2 = 'sub-subh'
# post2 = 'ulesion'
# input_csv_path2 = '/Volumes/Expansion/datasets/Manitoba_PET/master_list_howard.xlsx'
# sheet2 = 'autonocog' 
# voi2 = 'Memory__max_26_'
# column2 = None  # The column you'd like to evaluate
# condition2 = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value2 = None # for dropping. The value to compare against

## PD DBS Queensland
# import_path2 = '/Volumes/Expansion/datasets/Queensland_PD_DBS_STN/derivatives/conn'
# file_target2 = '*_T.nii*'
# pre2 = 'LeadDBS'
# post2 = '_vat'
# input_csv_path2 = '/Volumes/Expansion/datasets/Queensland_PD_DBS_STN/Clinical/BE_CGN_QU_Clinical_Demographic.xlsx'
# sheet2 = 'Memory' 
# voi2 = 'MOCA_Recall_change_PreToFU4_rel____'
# column2 = None  # The column you'd like to evaluate
# condition2 = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value2 = None # for dropping. The value to compare against

## Epilepsy DBS SANTE
# import_path2 = '/Volumes/Expansion/datasets/SANTE_Epilepsy_DBS_ANT/derivatives/conn'
# file_target2 = '*/connectivity/*t_conn.nii*'
# pre2 = 'sub-superconservativeu'
# post2 = '_tome'
# input_csv_path2 = '/Volumes/Expansion/datasets/SANTE_Epilepsy_DBS_ANT/metadata/sante_cognitive_scores_with_percent_change_WIDE.csv'
# sheet2 = None 
# voi2 = 'Any_trouble_with_Memory_number_Percent_Change_Corrected_V2_Month_12'
# column2 = None  # The column you'd like to evaluate
# condition2 = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value2 = None # for dropping. The value to compare against

## Epilepsy iEEG
# import_path2 = '/Volumes/Expansion/datasets/Kahana_Epilepsy_iEEG/derivatives/connectivity'
# file_target2 = '*_T.nii*'
# pre2 = 'sub-'
# post2 = '_T'
# input_csv_path2 = '/Volumes/Expansion/datasets/Kahana_Epilepsy_iEEG/master_list.csv'
# sheet2 = None 
# voi2 = 'deltarec'
# column2 = None  # The column you'd like to evaluate
# condition2 = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value2 = None # for dropping. The value to compare against

# ## AD DBS
# import_path2 = '/Volumes/Expansion/datasets/ADVANCE_AD_DBS_FORNIX/connectivity_data/vta_published_t_connectivity'
# file_target2 = '*_T.nii*'
# pre2 = ''
# post2 = '_vat'
# input_csv_path2 = '/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/cognition_2023/metadata/master_list_proper_subjects.xlsx'
# sheet2 = 'master_list_proper_subjects' 
# voi2 = 'Percent_Cognitive_Improvement'
# column2 = None  # The column you'd like to evaluate
# condition2 = None  # Thecondition to check ('equal', 'above', 'below', 'not')
# value2 = None # The value to compare against

# Get Dataset One

Import Niftis
- These are EXPECTED to have subject IDs which are IDENTICAL to the subject IDs that go in the covarite DF column names below
- Column labels are subject IDs. 
- This is expected to ultimately have the form:

|        |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 |  10 | ... |  40 |  41 |  42 |  43 |  45 |  46 |  47 |  48 |  49 |  50 |
|----------|------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|------------|-----|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
| Voxel 1     | 3          | 4         | 7         | 2         | 2         | 2         | 9         | 4         | 7         | 5          | ... | 5           | 2           | 7           | 7           | 3           | 8           | 8           | 1           | 1           | 3           |
| . . .      | ...         | ...        | ...         | ...         | ...         | ...         | ...         | ...         | ...         | ...          | ... | ...           | ...           | ...           | ...           | ...           | ...           | 7           | ...           | ...           | ...           |
| Voxel N     | 2          | 1         | 0         | 1         | 3         | 4         | 9         | 5         | 8         | 6          | ... | 6           | 3           | 8           | 8           | 4           | 9           | 9           | 2           | 2           | 4           |

In [22]:
from calvin_utils.file_utils.import_functions import GiiNiiFileImport
giinii = GiiNiiFileImport(import_path=import_path, file_column=None, file_pattern=file_target)
nimg_df = giinii.run()
nimg_df

Attempting to import from: /Volumes/Expansion/datasets/GRAFMAN_TBI_MULTIFOCAL/grafman_fc/*/connectivity/*t_conn.nii*

,sub-1055_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-1561_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-1187_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-2068_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-2332_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-0230_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-1711_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-3092_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-1423_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-2132_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,...,sub-2116_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-0257_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-3054_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-1662_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-0012_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-1235_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-1356_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-0267_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-2480_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz,sub-1510_tome-yeo1000udil_space-2mm_stat-t_conn.nii.gz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Fix names

In [23]:
nimg_df = GiiNiiFileImport.splice_colnames(nimg_df, pre, post)
nimg_df

,1055,1561,1187,2068,2332,0230,1711,3092,1423,2132,...,2116,0257,3054,1662,0012,1235,1356,0267,2480,1510
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Import Covariates

**The CSV is expected to be in this format**
- sub column contents MUST match the names of the neuroimaging files above. 
    - ID column 
```
+-----+----------------------------+--------------+--------------+--------------+
| sub | Nifti_File_Path            | Covariate_1  | Covariate_2  | Covariate_3  |
+-----+----------------------------+--------------+--------------+--------------+
| 1   | /path/to/file1.nii.gz      | 0.5          | 1.2          | 3.4          |
| 2   | /path/to/file2.nii.gz      | 0.7          | 1.4          | 3.1          |
| 3   | /path/to/file3.nii.gz      | 0.6          | 1.5          | 3.5          |
| 4   | /path/to/file4.nii.gz      | 0.9          | 1.1          | 3.2          |
| ... | ...                        | ...          | ...          | ...          |
+-----+----------------------------+--------------+--------------+--------------+
```

In [24]:
from calvin_utils.permutation_analysis_utils.statsmodels_palm import CalvinStatsmodelsPalm
# Instantiate the PalmPrepararation class
cal_palm = CalvinStatsmodelsPalm(input_csv_path=input_csv_path, output_dir=out_dir, sheet=sheet)
# Call the process_nifti_paths method
data_df = cal_palm.read_and_display_data()

,subject,mmse1,mmse2,mmse3,mmse4,mmse5,mmse6,mmse7,mmse8,mmse9,mmse10,mmse11,mmse12
0,4,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,1.0,1.0,1.0,30.0
1,5,5.0,4.0,3.0,5.0,2.0,2.0,1.0,3.0,1.0,1.0,1.0,28.0
2,10,5.0,5.0,3.0,5.0,1.0,2.0,1.0,3.0,1.0,1.0,1.0,28.0
3,12,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,NaN,NaN,NaN,NaN
4,15,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,1.0,1.0,1.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,7025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,7033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,7034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602,7036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603,7037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# data_df['subject'] = data_df['subject'].str[4:]
data_df

,subject,mmse1,mmse2,mmse3,mmse4,mmse5,mmse6,mmse7,mmse8,mmse9,mmse10,mmse11,mmse12
0,4,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,1.0,1.0,1.0,30.0
1,5,5.0,4.0,3.0,5.0,2.0,2.0,1.0,3.0,1.0,1.0,1.0,28.0
2,10,5.0,5.0,3.0,5.0,1.0,2.0,1.0,3.0,1.0,1.0,1.0,28.0
3,12,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,NaN,NaN,NaN,NaN
4,15,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,1.0,1.0,1.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,7025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,7033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,7034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602,7036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603,7037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Preprocess Your Data**

**Handle NANs**
- Set drop_nans=True is you would like to remove NaNs from data
- Provide a column name or a list of column names to remove NaNs from

In [26]:
# data_df.columns

In [27]:
drop_list = [variable_of_interest]

In [28]:
data_df = cal_palm.drop_nans_from_columns(columns_to_drop_from=drop_list)
display(data_df)

,subject,mmse1,mmse2,mmse3,mmse4,mmse5,mmse6,mmse7,mmse8,mmse9,mmse10,mmse11,mmse12
0,4,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,1.0,1.0,1.0,30.0
1,5,5.0,4.0,3.0,5.0,2.0,2.0,1.0,3.0,1.0,1.0,1.0,28.0
2,10,5.0,5.0,3.0,5.0,1.0,2.0,1.0,3.0,1.0,1.0,1.0,28.0
3,12,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,NaN,NaN,NaN,NaN
4,15,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,1.0,1.0,1.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,1396,4.0,5.0,3.0,5.0,3.0,2.0,1.0,2.0,1.0,1.0,1.0,28.0
255,1398,5.0,4.0,3.0,1.0,2.0,2.0,1.0,3.0,1.0,0.0,1.0,23.0
258,1405,5.0,5.0,3.0,4.0,2.0,2.0,1.0,3.0,1.0,NaN,NaN,NaN
259,1407,5.0,5.0,3.0,4.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,26.0
260,1416,5.0,5.0,3.0,2.0,2.0,2.0,0.0,3.0,1.0,1.0,1.0,25.0

**Drop Row Based on Value of Column**

Define the column, condition, and value for dropping rows
- column = 'your_column_name'
- condition = 'above'  # Options: 'equal', 'above', 'below'

Set the parameters for dropping rows

In [29]:
data_df, other_df = cal_palm.drop_rows_based_on_value(column, condition, value)
data_df

,subject,mmse1,mmse2,mmse3,mmse4,mmse5,mmse6,mmse7,mmse8,mmse9,mmse10,mmse11,mmse12
0,4,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,1.0,1.0,1.0,30.0
1,5,5.0,4.0,3.0,5.0,2.0,2.0,1.0,3.0,1.0,1.0,1.0,28.0
2,10,5.0,5.0,3.0,5.0,1.0,2.0,1.0,3.0,1.0,1.0,1.0,28.0
3,12,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,NaN,NaN,NaN,NaN
4,15,5.0,5.0,3.0,5.0,3.0,2.0,1.0,3.0,1.0,1.0,1.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,1396,4.0,5.0,3.0,5.0,3.0,2.0,1.0,2.0,1.0,1.0,1.0,28.0
255,1398,5.0,4.0,3.0,1.0,2.0,2.0,1.0,3.0,1.0,0.0,1.0,23.0
258,1405,5.0,5.0,3.0,4.0,2.0,2.0,1.0,3.0,1.0,NaN,NaN,NaN
259,1407,5.0,5.0,3.0,4.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,26.0
260,1416,5.0,5.0,3.0,2.0,2.0,2.0,0.0,3.0,1.0,1.0,1.0,25.0

Regress out a Covariate

In [30]:
# lis = []
# for col in data_df.columns:
#     if 'surface' in col.lower():
#         lis.append(col)
# print(lis)

In [31]:
# from calvin_utils.statistical_utils.regression_utils import RegressOutCovariates
## use this code block to regress out covariates. Generally better to just include as covariates in a model..
# dependent_variable_list = lis
# regressors = ['Age', 'Sex']

# data_df, adjusted_dep_vars_list = RegressOutCovariates.run(df=data_df, dependent_variable_list=dependent_variable_list, covariates_list=regressors)
# print(adjusted_dep_vars_list)

**Standardize Data**
- Enter Columns you Don't want to standardize into a list

In [32]:
## Remove anything you don't want to standardize
# cols_not_to_standardize = ['Age',  'Subiculum_Connectivity_T']

In [33]:
# data_df = cal_palm.standardize_columns(cols_not_to_standardize)
# data_df

Choose Rows to Keep
- Keep your subject row and your dependent variable

In [34]:
col_to_keep_list = [variable_of_interest, 'subject']

- The final DF is EXPECTED to have subject IDs which are IDENTICAL to the subject IDs that go in the neuroimaging DF column names above
- There should only be 1 variable  the row

|        |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 |  10 | ... |  40 |  41 |  42 |  43 |  45 |  46 |  47 |  48 |  49 |  50 |
|----------|------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|------------|-----|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
| Indep. Var.    | 3          | 4         | 7         | 2         | 2         | 2         | 9         | 4         | 7         | 5          | ... | 5           | 2           | 7           | 7           | 3           | 8           | 8           | 1           | 1           | 3           |

In [35]:
data_df=data_df.loc[:, col_to_keep_list]
data_df = data_df.T
data_df.columns = data_df.loc['subject', :]
data_df = data_df.drop('subject')
data_df.dropna(inplace=True, axis=1)
data_df

subject,4.0,5.0,10.0,12.0,15.0,20.0,22.0,32.0,37.0,44.0,...,1387.0,1389.0,1390.0,1392.0,1395.0,1396.0,1398.0,1405.0,1407.0,1416.0
mmse5,3.0,2.0,1.0,3.0,3.0,3.0,3.0,2.0,3.0,2.0,...,3.0,3.0,3.0,3.0,2.0,3.0,2.0,2.0,1.0,2.0

# Get Dataset Two

Import Niftis
- These are EXPECTED to have subject IDs which are IDENTICAL to the subject IDs that go in the covarite DF column names below
- Column labels are subject IDs. 
- This is expected to ultimately have the form:

|        |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 |  10 | ... |  40 |  41 |  42 |  43 |  45 |  46 |  47 |  48 |  49 |  50 |
|----------|------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|------------|-----|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
| Voxel 1     | 3          | 4         | 7         | 2         | 2         | 2         | 9         | 4         | 7         | 5          | ... | 5           | 2           | 7           | 7           | 3           | 8           | 8           | 1           | 1           | 3           |
| . . .      | ...         | ...        | ...         | ...         | ...         | ...         | ...         | ...         | ...         | ...          | ... | ...           | ...           | ...           | ...           | ...           | ...           | 7           | ...           | ...           | ...           |
| Voxel N     | 2          | 1         | 0         | 1         | 3         | 4         | 9         | 5         | 8         | 6          | ... | 6           | 3           | 8           | 8           | 4           | 9           | 9           | 2           | 2           | 4           |

In [36]:
from calvin_utils.file_utils.import_functions import GiiNiiFileImport
giinii2 = GiiNiiFileImport(import_path=import_path2, file_column=None, file_pattern=file_target2)
nimg_df2 = giinii2.run()
nimg_df2

Attempting to import from: /Volumes/Expansion/datasets/CORBETTA_STROKE_MULTIFOCAL/BIDS_Dataset/*/connectivity/*t_conn.nii*

,sub-026_tome-yeo1k_stat-t_conn.nii.gz,sub-088_tome-yeo1k_stat-t_conn.nii.gz,sub-043_tome-yeo1k_stat-t_conn.nii.gz,sub-044_tome-yeo1k_stat-t_conn.nii.gz,sub-072_tome-yeo1k_stat-t_conn.nii.gz,sub-075_tome-yeo1k_stat-t_conn.nii.gz,sub-081_tome-yeo1k_stat-t_conn.nii.gz,sub-029_tome-yeo1k_stat-t_conn.nii.gz,sub-027_tome-yeo1k_stat-t_conn.nii.gz,sub-080_tome-yeo1k_stat-t_conn.nii.gz,...,sub-097_tome-yeo1k_stat-t_conn.nii.gz,sub-063_tome-yeo1k_stat-t_conn.nii.gz,sub-055_tome-yeo1k_stat-t_conn.nii.gz,sub-099_tome-yeo1k_stat-t_conn.nii.gz,sub-036_tome-yeo1k_stat-t_conn.nii.gz,sub-038_tome-yeo1k_stat-t_conn.nii.gz,sub-053_tome-yeo1k_stat-t_conn.nii.gz,sub-098_tome-yeo1k_stat-t_conn.nii.gz,sub-062_tome-yeo1k_stat-t_conn.nii.gz,sub-065_tome-yeo1k_stat-t_conn.nii.gz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Fix names

In [37]:
nimg_df2 = GiiNiiFileImport.splice_colnames(nimg_df2, pre2, post2)
nimg_df2

,026,088,043,044,072,075,081,029,027,080,...,097,063,055,099,036,038,053,098,062,065
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Import Covariates

**The CSV is expected to be in this format**
- sub column contents MUST match the names of the neuroimaging files above. 
    - ID column 
```
+-----+----------------------------+--------------+--------------+--------------+
| sub | Nifti_File_Path            | Covariate_1  | Covariate_2  | Covariate_3  |
+-----+----------------------------+--------------+--------------+--------------+
| 1   | /path/to/file1.nii.gz      | 0.5          | 1.2          | 3.4          |
| 2   | /path/to/file2.nii.gz      | 0.7          | 1.4          | 3.1          |
| 3   | /path/to/file3.nii.gz      | 0.6          | 1.5          | 3.5          |
| 4   | /path/to/file4.nii.gz      | 0.9          | 1.1          | 3.2          |
| ... | ...                        | ...          | ...          | ...          |
+-----+----------------------------+--------------+--------------+--------------+
```

In [38]:
from calvin_utils.permutation_analysis_utils.statsmodels_palm import CalvinStatsmodelsPalm
# Instantiate the PalmPrepararation class
cal_palm2 = CalvinStatsmodelsPalm(input_csv_path=input_csv_path2, output_dir=out_dir, sheet=sheet2)
# Call the process_nifti_paths method
data_df2 = cal_palm2.read_and_display_data()

,id,subject,redcap_event_name,acute_beh,acute_scan,missed_visit_a,visit_note_a,three_m_beh,three_m_scan,missed_visit_3m,...,sis_8_a,sis_8_b,sis_8_c,sis_8_d,sis_8_e,sis_8_f,sis_8_g,sis_8_h,sis_total,functional_outcome_battery_complete
0,FCS_024,024,basic_subject_info_arm_1,2008-05-20,2008-05-21,10.0,-,2008-10-06,2008-10-06,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FCS_024,024,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,FCS_024,024,3month_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,FCS_024,024,1year_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,FCS_026,026,basic_subject_info_arm_1,2008-06-11,2008-06-11,10.0,-,2008-10-13,2008-10-13,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,FCS_pilot,pilot,basic_subject_info_arm_1,2016-08-05,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,FCS_pilot,pilot,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
700,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
701,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
702,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Preprocess Your Data**

**Handle NANs**
- Set drop_nans=True is you would like to remove NaNs from data
- Provide a column name or a list of column names to remove NaNs from

In [39]:
data_df2.columns

Index(['id', 'subject', 'redcap_event_name', 'acute_beh', 'acute_scan',
       'missed_visit_a', 'visit_note_a', 'three_m_beh', 'three_m_scan',
       'missed_visit_3m',
       ...
       'sis_8_a', 'sis_8_b', 'sis_8_c', 'sis_8_d', 'sis_8_e', 'sis_8_f',
       'sis_8_g', 'sis_8_h', 'sis_total',
       'functional_outcome_battery_complete'],
      dtype='object', length=496)

In [40]:
drop_list2 = [voi2]

In [41]:
data_df2 = cal_palm2.drop_nans_from_columns(columns_to_drop_from=drop_list2)
display(data_df2)

,id,subject,redcap_event_name,acute_beh,acute_scan,missed_visit_a,visit_note_a,three_m_beh,three_m_scan,missed_visit_3m,...,sis_8_a,sis_8_b,sis_8_c,sis_8_d,sis_8_e,sis_8_f,sis_8_g,sis_8_h,sis_total,functional_outcome_battery_complete
3,FCS_024,024,1year_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
7,FCS_026,026,1year_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
23,FCS_030,030,1year_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
35,FCS_033,033,1year_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
43,FCS_035,035,1year_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,FCS_201,201,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
693,FCS_202,202,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
695,FCS_203,203,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
697,FCS_204,204,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
699,FCS_pilot,pilot,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

**Drop Row Based on Value of Column**

Define the column, condition, and value for dropping rows
- column = 'your_column_name'
- condition = 'above'  # Options: 'equal', 'above', 'below'

Set the parameters for dropping rows

In [42]:
data_df2, other_df2 = cal_palm2.drop_rows_based_on_value(column2, condition2, value2)
data_df2

,id,subject,redcap_event_name,acute_beh,acute_scan,missed_visit_a,visit_note_a,three_m_beh,three_m_scan,missed_visit_3m,...,sis_8_a,sis_8_b,sis_8_c,sis_8_d,sis_8_e,sis_8_f,sis_8_g,sis_8_h,sis_total,functional_outcome_battery_complete
97,FCS_049,049,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
101,FCS_050,050,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
105,FCS_051,051,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
109,FCS_052,052,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
113,FCS_053,053,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,FCS_201,201,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
693,FCS_202,202,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
695,FCS_203,203,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
697,FCS_204,204,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
699,FCS_pilot,pilot,acute_arm_1,NaT,NaT,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

Regress out a Covariate

In [43]:
# lis = []
# for col in data_df2.columns:
#     if 'surface' in col.lower():
#         lis.append(col)
# print(lis)

In [44]:
from calvin_utils.statistical_utils.regression_utils import RegressOutCovariates
## use this code block to regress out covariates. Generally better to just include as covariates in a model..
# dependent_variable_list2 = lis
# regressors2 = ['Age', 'Sex']

# data_df2, adjusted_dep_vars_list2 = RegressOutCovariates.run(df=data_df2, dependent_variable_list=dependent_variable_list2, covariates_list=regressors2)
# print(adjusted_dep_vars_list2)

**Standardize Data**
- Enter Columns you Don't want to standardize into a list

In [45]:
## Remove anything you don't want to standardize
# cols_not_to_standardize2 = ['Age',  'Subiculum_Connectivity_T']

In [46]:
# data_df2 = cal_palm2.standardize_columns(cols_not_to_standardize2)
# data_df2

In [47]:
data_df2.columns

Index(['id', 'subject', 'redcap_event_name', 'acute_beh', 'acute_scan',
       'missed_visit_a', 'visit_note_a', 'three_m_beh', 'three_m_scan',
       'missed_visit_3m',
       ...
       'sis_8_a', 'sis_8_b', 'sis_8_c', 'sis_8_d', 'sis_8_e', 'sis_8_f',
       'sis_8_g', 'sis_8_h', 'sis_total',
       'functional_outcome_battery_complete'],
      dtype='object', length=496)

Choose Rows to Keep
- Keep subject and dependent variable row

In [48]:
col_to_keep_list2 = [voi2, 'subject']

- The final DF is EXPECTED to have subject IDs which are IDENTICAL to the subject IDs that go in the neuroimaging DF column names above
- There should only be 1 variable  the row

|        |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 |  10 | ... |  40 |  41 |  42 |  43 |  45 |  46 |  47 |  48 |  49 |  50 |
|----------|------------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|-----------|------------|-----|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|-------------|
| Indep. Var.    | 3          | 4         | 7         | 2         | 2         | 2         | 9         | 4         | 7         | 5          | ... | 5           | 2           | 7           | 7           | 3           | 8           | 8           | 1           | 1           | 3           |

In [49]:
data_df2=data_df2.loc[:, col_to_keep_list2]
data_df2 = data_df2.T
data_df2.columns = data_df2.loc['subject']
data_df2 = data_df2.drop('subject')
data_df2.dropna(inplace=True, axis=1)
data_df2

subject,049,050,051,052,053,054,055,056,057,058,...,191,193,195,196,200,201,202,203,204,pilot
hvlt_delay,0.0,7.0,4.0,8.0,6.0,0.0,7.0,3.0,3.0,4.0,...,3.0,9.0,5.0,8.0,0.0,7.0,4.0,1.0,7.0,11.0

# Define an Already Existing Map to Compare Similarity To
- if not using, set to None

In [50]:
map_path = None
# data_df2=None
# nimg_df2=None

# Test 2 Maps

# Prepare the Arguments for Permutation Testing

Is there a particular mask you want to use?
- MUST match the resolution of voxelwise data being analyzed. 
- If you set None, the voxelwise data will be used for thresholding. 
    - Values below mask_threshold (float) will be set to 0. 
- Warning: bad masking may result in failed experiments. Erroneous voxels outside the brain will influence the correction.

In [51]:
mask_path = '/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/resources/atlases/MNI_structures/cortex/mni_152_cortex_mask_2mm.nii'
mask_threshold = 0

Correlation method
- spearman or pearson

In [52]:
method = 'spearman'

Choose Max Stat Correction Method
- None | pseudo_var_smooth | var_smooth

In [53]:
max_stat_method = 'pseudo_var_smooth'

ROI to analyze within

In [54]:
roi_path = None
roi_threshold = 0

Initialize the Permutation testing Class

In [58]:
from calvin_utils.permutation_analysis_utils.correlation_fwe_comparison import CalvinFWEWrapper
wrapper = CalvinFWEWrapper(neuroimaging_dataframe1=nimg_df, 
                           variable_dataframe1=data_df, 
                           neuroimaging_dataframe2=nimg_df2, 
                           variable_dataframe2=data_df2, 
                           mask_threshold=mask_threshold, 
                           mask_path=mask_path, 
                           out_dir=out_dir, 
                           method=method, 
                           max_stat_method=max_stat_method,
                           roi_path=roi_path, roi_threshold=0,
                           map_path=map_path, use_spearman=True,
                           two_tail=False)

Analyze the Similarity of the 2 maps

In [59]:
# Running Pearson correlation analysis with ROI mask
observed_correlation, permuted_correlations = wrapper.run_pearson_analysis(n_permutations=100)

Running permutation: 100%|██████████| 100/100 [01:49<00:00,  1.09s/it]

Observed: -0.4884508301885612, p-value 0.0, using 2-tail: False.

Analyze the Peaks of the Two Maps

In [57]:
# Running peak voxel finding analysis with ROI mask
observed_peak_distance, permuted_peak_distances = wrapper.run_peak_voxel_analysis(n_permutations=1000)

AttributeError: 'CalvinFWEWrapper' object has no attribute 'roi_data_3d'

In [ ]:
from scipy.stats import percentileofscore
test_value = 2
percentile = percentileofscore(permuted_peak_distances, test_value, kind='rank')
percentile