In [29]:
import os
import pandas as pd
from tqdm import tqdm
import re

class TextFileProcessor:
    def __init__(self, path):
        self.path = path

    def extract_subject_id(self, filename):
        """Extracts the subject ID from the filename."""
        parts = filename.split('_')
        for i, part in enumerate(parts):
            if part.startswith('FR1') or part.startswith('FR2'):
                return parts[i + 1] if i + 1 < len(parts) else None
        return None

    def extract_stimulation_values(self, lines):
        """Extracts stimulation values from the text."""
        values = []
        for i, line in enumerate(lines):
            if 'Effects of Stimulation' in line:
                if i + 1 < len(lines):
                    match1 = re.search(r'\((\d+\.\s*\d+)\s*%\)', lines[i + 1])
                    if match1:
                        values.append(float(match1.group(1).replace(" ", "")))
                if i + 2 < len(lines):
                    match2 = re.search(r'\((\d+\.\s*\d+)\s*%\)', lines[i + 2])
                    if match2:
                        values.append(float(match2.group(1).replace(" ", "")))
                break
        return values

    def extract_electrode_numbers(self, lines):
        """Extracts the anode and cathode numbers from the text."""
        anode, cathode = None, None
        for line in lines:
            match = re.search(r'e Stim\.\s+Anode-Cathode #:\s+(\d+)-(\d+)', line)
            if match:
                anode = int(match.group(1))
                cathode = int(match.group(2))
                break
        return anode, cathode

    def read_lines_from_file(self, filepath):
        """Reads lines from a text file."""
        try:
            with open(filepath, 'r') as file:
                return file.readlines()
        except Exception as e:
            print(f"Error reading file {filepath}: {e}")
            return []

    def process_files(self):
        """Processes all text files in the directory and extracts information."""
        data = []
        for filename in tqdm(os.listdir(self.path)):
            if filename.endswith('.txt'):
                filepath = os.path.join(self.path, filename)
                lines = self.read_lines_from_file(filepath)

                if len(lines) > 1:
                    subject_id = self.extract_subject_id(filename)
                    stimulation_values = self.extract_stimulation_values(lines)
                    anode, cathode = self.extract_electrode_numbers(lines)

                    if subject_id and stimulation_values:
                        data.append([
                            subject_id,
                            stimulation_values[0] if len(stimulation_values) > 0 else None,
                            stimulation_values[1] if len(stimulation_values) > 1 else None,
                            anode,
                            cathode
                        ])

        # Create a DataFrame with extracted data
        df = pd.DataFrame(data, columns=['Subject_ID', 'Stimulation_Value_1', 'Stimulation_Value_2', 'Anode', 'Cathode'])
        return df

In [30]:
processor = TextFileProcessor('/Volumes/OneTouch/datasets/Kahana_Epilepsy_iEEG/metadata/reports/data10_pdfs/RAM/review_pyper/pdf_txt_preprocessed')
df = processor.process_files()
display(df)

 19%|█▊        | 100/534 [00:00<00:01, 289.34it/s]

Error reading file /Volumes/OneTouch/datasets/Kahana_Epilepsy_iEEG/metadata/reports/data10_pdfs/RAM/review_pyper/pdf_txt_preprocessed/._RAM_CatFR1_R1004D_combined_report_OCR.txt: 'utf-8' codec can't decode byte 0xb0 in position 37: invalid start byte

100%|██████████| 534/534 [00:00<00:00, 595.58it/s]

Error reading file /Volumes/OneTouch/datasets/Kahana_Epilepsy_iEEG/metadata/reports/data10_pdfs/RAM/review_pyper/pdf_txt_preprocessed/._RAM_FR2_UT010_s1_report_OCR.txt: 'utf-8' codec can't decode byte 0xb0 in position 37: invalid start byte
Error reading file /Volumes/OneTouch/datasets/Kahana_Epilepsy_iEEG/metadata/reports/data10_pdfs/RAM/review_pyper/pdf_txt_preprocessed/._RAM_FR2_UT010_s0_report_OCR.txt: 'utf-8' codec can't decode byte 0xb0 in position 37: invalid start byte
Error reading file /Volumes/OneTouch/datasets/Kahana_Epilepsy_iEEG/metadata/reports/data10_pdfs/RAM/review_pyper/pdf_txt_preprocessed/._RAM_FR2_UT010_combined_report_OCR.txt: 'utf-8' codec can't decode byte 0xb0 in position 37: invalid start byte
Error reading file /Volumes/OneTouch/datasets/Kahana_Epilepsy_iEEG/metadata/reports/data10_pdfs/RAM/review_pyper/pdf_txt_preprocessed/._RAM_FR2_UT009a_s1_report_OCR.txt: 'utf-8' codec can't decode byte 0xb0 in position 37: invalid start byte
Error reading file /Volumes/OneTouch/datasets/Kahana_Epilepsy_iEEG/metadata/reports/data10_pdfs/RAM/review_pyper/pdf_txt_preprocessed/._RAM_FR2_UT009a_s0_report_OCR.txt: 'utf-8' codec can't decode byte 0xb0 in position 37: invalid start byte
Error reading file /Volumes/OneTouch/datasets/Kahana_Epilepsy_iEEG/metadata/reports/data10_pdfs/RAM/review_pyper/pdf_txt_preprocessed/._RAM_FR2_UT009a_combined_report_OCR.txt: 'utf-8' codec can't decode byte 0xb0 in position 37: invalid start byte

    Subject_ID  Stimulation_Value_1  Stimulation_Value_2  Anode  Cathode
0       R1001P                 14.6                 14.7   36.0     37.0
1       R1001P                 17.5                 18.9   36.0     37.0
2       R1001P                 11.7                 10.6   36.0     37.0
3       R1002P                 27.1                 39.4   32.0     33.0
4       R1002P                 30.0                 40.0   32.0     33.0
..         ...                  ...                  ...    ...      ...
143     UT009a                 16.7                 25.6    NaN      NaN
144     UT009a                 17.5                 18.3    NaN      NaN
145      UT010                 26.0                 33.8  125.0    126.0
146      UT010                 29.6                 36.4    NaN      NaN
147      UT010                 24.0                 32.6  125.0    126.0

[148 rows x 5 columns]

In [31]:
import os
import pandas as pd
from tqdm import tqdm
import re

class TextFileProcessor:
    def find_and_read_files(self, root, subject_id):
        """Finds and reads the RAW_coords.txt.mni file for the given subject ID."""
        subject_dir = os.path.join(root, 'subjects', subject_id, 'tal')
        raw_coords_path = os.path.join(subject_dir, 'RAW_coords.txt.mni')

        if os.path.exists(raw_coords_path):
            try:
                with open(raw_coords_path, 'r') as file:
                    return file.readlines()
            except Exception as e:
                print(f"Error reading RAW_coords.txt.mni for subject {subject_id}: {e}")
        return []

    def extract_coordinates(self, raw_coords, contact_number):
        """Extracts the x, y, z coordinates for the given contact number."""
        for line in raw_coords:
            parts = line.strip().split()
            if len(parts) == 4 and int(parts[0]) == contact_number:
                x, y, z = map(float, parts[1:])
                return x, y, z
        return None, None, None

    def process_raw_coords(self, root, df):
        """Processes RAW_coords.txt.mni files for each subject and adds coordinates to the DataFrame."""
        anode_coords = []
        cathode_coords = []

        for _, row in tqdm(df.iterrows(), total=len(df)):
            subject_id = row['Subject_ID']
            anode = row['Anode']
            cathode = row['Cathode']

            raw_coords = self.find_and_read_files(root, subject_id)

            anode_coords.append(self.extract_coordinates(raw_coords, anode))
            cathode_coords.append(self.extract_coordinates(raw_coords, cathode))

        # Add the extracted coordinates to the DataFrame
        df['Anode_Coords']   = anode_coords
        df['Cathode_Coords'] = cathode_coords

        return df

In [33]:
processor = TextFileProcessor()
df = processor.process_raw_coords('/Volumes/OneTouch/datasets/Kahana_Epilepsy_iEEG/metadata/reports/data10_coord_mni/RAM', df)
df

  0%|          | 0/148 [00:00<?, ?it/s]

100%|██████████| 148/148 [00:00<00:00, 262.52it/s]

,Subject_ID,Stimulation_Value_1,Stimulation_Value_2,Anode,Cathode,Anode_Coords,Cathode_Coords
0,R1001P,14.6,14.7,36.0,37.0,"(-25.0038, -13.9559, -19.0913)","(-31.3795, -15.4408, -18.6355)"
1,R1001P,17.5,18.9,36.0,37.0,"(-25.0038, -13.9559, -19.0913)","(-31.3795, -15.4408, -18.6355)"
2,R1001P,11.7,10.6,36.0,37.0,"(-25.0038, -13.9559, -19.0913)","(-31.3795, -15.4408, -18.6355)"
3,R1002P,27.1,39.4,32.0,33.0,"(-14.4522, -5.74821, -12.8502)","(-19.9414, -5.23634, -13.9836)"
4,R1002P,30.0,40.0,32.0,33.0,"(-14.4522, -5.74821, -12.8502)","(-19.9414, -5.23634, -13.9836)"
...,...,...,...,...,...,...,...
143,UT009a,16.7,25.6,NaN,NaN,"(None, None, None)","(None, None, None)"
144,UT009a,17.5,18.3,NaN,NaN,"(None, None, None)","(None, None, None)"
145,UT010,26.0,33.8,125.0,126.0,"(-34.2344, -14.4307, -24.2526)","(-40.3028, -12.591, -24.3577)"
146,UT010,29.6,36.4,NaN,NaN,"(None, None, None)","(None, None, None)"
147,UT010,24.0,32.6,125.0,126.0,"(-34.2344, -14.4307, -24.2526)","(-40.3028, -12.591, -24.3577)"

In [34]:
df.to_csv('/Volumes/OneTouch/datasets/Kahana_Epilepsy_iEEG/metadata/master_list_stim_effect.csv')