# Option B - Generate Spheres from a CSV

In [7]:
out_dir = '/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORNIX/derivatives/stim_sites'
mask_path = None

In [10]:
# Specify the path to your CSV file containing NIFTI paths
input_csv_path = '/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORNIX/metadata/stim_centroids.csv'
sheet = None

In [14]:
from calvin_utils.permutation_analysis_utils.statsmodels_palm import CalvinStatsmodelsPalm
# Instantiate the PalmPrepararation class
cal_palm = CalvinStatsmodelsPalm(input_csv_path=input_csv_path, output_dir=out_dir, sheet=sheet)
# Call the process_nifti_paths method
data_df = cal_palm.read_and_display_data()
data_df

,subject,coordinate,Subid,Session
0,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-2.9999997317790985, 2.682209014892578e-07, -...",135,left
1,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[0.4999999403953552, -5.000000566244125, -9.50...",104,left
2,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.0000007450580597, -0.5000001490116119, -7....",103,left
3,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-9.999999642372131, -0.5000002384185791, -10....",1201,left
4,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.499999225139618, 2.0000002682209015, -1.99...",150,left
...,...,...,...,...
95,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[1.9999993443489075, -3.4999991357326508, -9.4...",114,right
96,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[3.500000774860382, -2.9999996423721313, -8.49...",113,right
97,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[1.9999993443489075, 1.4999988377094269, -2.99...",147,right
98,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[6.0000002682209015, 1.500000774860382, -3.500...",140,right
99,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[2.499999761581421, 2.682209014892578e-07, -2....",149,right


# Preprocess Your Data

**Handle NANs**
- Set drop_nans=True is you would like to remove NaNs from data
- Provide a column name or a list of column names to remove NaNs from

In [15]:
data_df.columns

Index(['subject', 'coordinate', 'Subid', 'Session'], dtype='object')

In [16]:
coordinate_col = ['coordinate']

In [17]:
data_df = cal_palm.drop_nans_from_columns(columns_to_drop_from=coordinate_col)

Choose a radius (mm)

In [26]:
radius = 1.5

In [27]:
data_df.columns

Index(['subject', 'coordinate', 'Subid', 'Session', 'roi_path'], dtype='object')

In [28]:
# import pandas as pd
# data_df = pd.concat([data_df.head(14), data_df.tail(14)], ignore_index=True)

A) Generate Spheres from a column that contains coordinates in lists. Ex) coord col: [x,y,z], [x,y,z]

In [29]:
from calvin_utils.nifti_utils.generate_spherical_roi import SphereROIBuilder
roi_builder = SphereROIBuilder(mask_path=mask_path, out_dir=out_dir, radius=radius)
df = roi_builder.generate_from_coordlist_column(df=data_df, coord_col='coordinate', sub_col='Subid', session_col='Session', project_on_brain=True, save_individual_roi=False)
df

,subject,coordinate,Subid,Session,roi_path
0,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-2.9999997317790985, 2.682209014892578e-07, -...",135,left,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...
1,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[0.4999999403953552, -5.000000566244125, -9.50...",104,left,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...
2,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.0000007450580597, -0.5000001490116119, -7....",103,left,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...
3,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-9.999999642372131, -0.5000002384185791, -10....",1201,left,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...
4,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.499999225139618, 2.0000002682209015, -1.99...",150,left,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...
...,...,...,...,...,...
95,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[1.9999993443489075, -3.4999991357326508, -9.4...",114,right,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...
96,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[3.500000774860382, -2.9999996423721313, -8.49...",113,right,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...
97,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[1.9999993443489075, 1.4999988377094269, -2.99...",147,right,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...
98,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[6.0000002682209015, 1.500000774860382, -3.500...",140,right,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...
99,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[2.499999761581421, 2.682209014892578e-07, -2....",149,right,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...

B) Generate Spheres from several columns that have X, Y, and Z in them. Ex) x_col: x | y_col: y | z_col: z

In [ ]:
out_dir

In [ ]:
radius = 2

In [ ]:
from calvin_utils.nifti_utils.generate_spherical_roi import SphereROIBuilder
roi_builder = SphereROIBuilder(mask_path=None, out_dir=out_dir, radius=radius)
df = roi_builder.generate_from_separate_coord_cols(data_df, x_col='x_mni', y_col='y_mni', z_col='z_mni', sub_col='SUBJECT', session_col=None, project_on_brain=True)
df

Save new DF with file paths

In [ ]:
df.to_csv(input_csv_path, index=False)

# Option B - Generate Sphere Manually

In [ ]:
out_dir = '/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/cognition_2023/revisions/notebook06/ongoing_ungodly_amount_of_edits'
mask_path = '/Users/cu135/hires_backdrops/MNI/MNI152_T1_2mm_brain_mask.nii'

Enter coordinates of sphere

In [ ]:
x = -7
y = -46
z = 10
radius=8

Generate the Sphere at The Coordinate

In [ ]:
import nibabel as nib
import numpy as np
brain_img = nib.load(mask_path)
mni_arr = np.array([x,y,z])

In [ ]:
from calvin_utils.nifti_utils.generate_spherical_roi import SphereROIBuilder

SROI = SphereROIBuilder(mask_path=mask_path, out_dir=out_dir, radius=radius)
img = SROI.generate_from_single_coord(centre_xyz=[x,y,z],subject='sphere_boi', session=None, project_on_brain=True, suffix='')
img

Done
- Calvin