In [20]:
import nibabel as nib
import numpy as np
import pandas as pd
from pathlib import Path
from glob import glob

class NiftiCenterExtractor:
    """Glob NIfTI files and record their physical centre coordinates."""
    def __init__(self, pattern: str = "**/*.nii*") -> None:
        self.files = glob(pattern)

    def _center_coordinate(self, nii_path: Path) -> list[float]:
        img = nib.load(str(nii_path))
        nx, ny, nz = img.shape[:3]
        voxel_center = np.array([(nx - 1) / 2, (ny - 1) / 2, (nz - 1) / 2], dtype=float)
        world_center = nib.affines.apply_affine(img.affine, voxel_center)
        return world_center.tolist()

    def to_dataframe(self) -> pd.DataFrame:
        rows = [{"subject": str(p), "coordinate": self._center_coordinate(p)} for p in self.files]
        return pd.DataFrame(rows)

In [23]:
# Run extractor on the uploaded file
extractor = NiftiCenterExtractor("/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORNIX/subjects/*/stimulations/MNI_ICBM_2009b_NLIN_ASYM/gs*/vat_efield_left.nii")
df = extractor.to_dataframe()
df

,subject,coordinate
0,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-2.9999997317790985, 2.682209014892578e-07, -..."
1,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[0.4999999403953552, -5.000000566244125, -9.50..."
2,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.0000007450580597, -0.5000001490116119, -7...."
3,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-9.999999642372131, -0.5000002384185791, -10...."
4,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.499999225139618, 2.0000002682209015, -1.99..."
5,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-6.00000074505806, 3.500000774860382, -7.4999..."
6,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.499999225139618, -2.9999987185001373, -7.9..."
7,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.499999225139618, 2.682209014892578e-07, -4..."
8,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-5.9999997317790985, -0.5000011622905731, -0...."
9,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-5.499999225139618, -0.5000011622905731, -3.9..."
10,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.00000074505806, 2.499999761581421, -3.5000..."
11,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.499999225139618, -0.4999992251396179, -4.0..."
12,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-5.500000238418579, 2.0000002682209015, -5.49..."
13,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-5.00000074505806, -3.0000007450580597, -5.99..."
14,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-2.500000238418579, -2.0000007450580597, 0.49..."
15,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.500000238418579, 1.0000002682209015, -7.00..."
16,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-2.500000238418579, -6.500000149011612, -11.0..."
17,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.500000238418579, 6.99999925494194, -4.0000..."
18,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-2.9999997317790985, 1.0000002682209015, -6.9..."
19,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-7.99999862909317, -3.999999552965164, -6.999..."
20,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-5.00000074505806, 1.9999992549419403, -6.999..."
21,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.500000238418579, -1.9999997317790985, -8.5..."
22,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-5.500000238418579, 0.4999997615814209, -6.99..."
23,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.0000007450580597, -0.9999997317790985, -4...."
24,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-8.99999862909317, 1.9999992549419403, -6.999..."
25,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.9999987185001373, -0.9999997317790985, -7...."
26,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-6.00000074505806, 2.9999992549419403, -5.499..."
27,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.499999225139618, -4.500000238418579, -7.99..."
28,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-6.0000006556510925, -2.9999996423721313, -6...."
29,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-5.50000125169754, 2.499999761581421, -2.5000..."
30,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-6.00000074505806, 0.4999997615814209, -5.999..."
31,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.00000074505806, 2.499999761581421, -6.4999..."
32,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-6.00000074505806, 3.499999761581421, -6.4999..."
33,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-5.999999642372131, -5.500000059604645, -7.99..."
34,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-5.00000074505806, -4.50000125169754, -7.5000..."
35,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.9999997317790985, 1.0000002682209015, -0.9..."
36,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-5.9999997317790985, 1.0000002682209015, -4.0..."
37,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.500000238418579, -5.500000238418579, -6.99..."
38,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.9999997317790985, 2.499999761581421, -6.50..."
39,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.9999997317790985, 1.500000774860382, -6.50..."
40,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.499999225139618, 1.0000002682209015, -4.99..."
41,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-5.00000074505806, 2.0000012814998627, -0.999..."
42,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-13.999999731779099, 1.499999761581421, -2.50..."
43,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.499999225139618, 0.5000007748603821, -4.50..."
44,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.9999997317790985, 2.0000002682209015, -3.9..."
45,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-0.9999995529651642, -6.999998539686203, -7.9..."
46,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.9999997317790985, 0.5000007748603821, -4.9..."
47,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.0000007450580597, 1.0000012814998627, -4.4..."
48,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.500000149011612, -1.9999986290931702, -6.5..."
49,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.9999997317790985, -0.5000002384185791, -4...."

In [9]:
extractor.files

[]

In [22]:
df2 = df

In [24]:
df_concat = pd.concat([df, df2], axis=0, ignore_index=True)
df_concat

,subject,coordinate
0,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-2.9999997317790985, 2.682209014892578e-07, -..."
1,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[0.4999999403953552, -5.000000566244125, -9.50..."
2,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.0000007450580597, -0.5000001490116119, -7...."
3,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-9.999999642372131, -0.5000002384185791, -10...."
4,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.499999225139618, 2.0000002682209015, -1.99..."
...,...,...
95,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[1.9999993443489075, -3.4999991357326508, -9.4..."
96,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[3.500000774860382, -2.9999996423721313, -8.49..."
97,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[1.9999993443489075, 1.4999988377094269, -2.99..."
98,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[6.0000002682209015, 1.500000774860382, -3.500..."
99,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[2.499999761581421, 2.682209014892578e-07, -2...."

In [28]:
df_concat.to_csv('/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORNIX/metadata/stim_centroids.csv', index=False)

In [27]:
def extract_subid_session(subject_path):
    # Split after '/subjects/' and get the next directory as subid
    parts = subject_path.split('/subjects/')
    if len(parts) > 1:
        rest = parts[1]
        subid = rest.split('/', 1)[0]
        # Get the filename as session (last part after '/')
        session = subject_path.split('/')[-1].split('.nii')[0].split('efield_')[1]
    else:
        subid = None
        session = None
    return pd.Series({'Subid': subid, 'Session': session})

df_concat[['Subid', 'Session']] = df_concat['subject'].apply(extract_subid_session)
df_concat

,subject,coordinate,Subid,Session
0,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-2.9999997317790985, 2.682209014892578e-07, -...",135,left
1,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[0.4999999403953552, -5.000000566244125, -9.50...",104,left
2,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-3.0000007450580597, -0.5000001490116119, -7....",103,left
3,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-9.999999642372131, -0.5000002384185791, -10....",1201,left
4,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[-4.499999225139618, 2.0000002682209015, -1.99...",150,left
...,...,...,...,...
95,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[1.9999993443489075, -3.4999991357326508, -9.4...",114,right
96,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[3.500000774860382, -2.9999996423721313, -8.49...",113,right
97,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[1.9999993443489075, 1.4999988377094269, -2.99...",147,right
98,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[6.0000002682209015, 1.500000774860382, -3.500...",140,right
99,/Volumes/OneTouch/datasets/ADVANCE_AD_DBS_FORN...,"[2.499999761581421, 2.682209014892578e-07, -2....",149,right