In [37]:
path_1 = '/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/atrophy_seeds_2023/metadata/updated_with_all_adni/master_pivoted.csv'
path_2 = '/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/atrophy_seeds_2023/metadata/updated_with_all_adni/adni_raw_data/master.csv'

In [38]:
import pandas as pd
df1 = pd.read_csv(path_1)
df2 = pd.read_csv(path_2)
df2

,Unnamed: 0,subid,Age,Male,Female,CSF_Cerebellum,CSF_Subcortex,CSF_MTL,CSF_Occipital,CSF_Frontal,...,Q11,Q12,Q14,TOTAL11_y,TOTALMOD_y,ID,SITEID,USERDATE,USERDATE2,update_stamp
0,0,002_S_0295,84.898630,1.0,0.0,-26319.38152,373.297842,-746.688684,-24081.964640,-32607.59211,...,0.0,0.0,0.0,5.33,6.33,16494255.0,101.0,8/20/14,NaN,00:00.0
1,1,002_S_0413,76.397260,0.0,1.0,-13670.88871,5009.504947,-449.838607,-8185.340726,-13903.97717,...,0.0,0.0,0.0,7.33,8.33,16494913.0,101.0,8/20/14,NaN,00:00.0
2,2,002_S_0559,79.410959,1.0,0.0,-38702.13792,152.392985,-754.706246,-25738.506400,-34449.36704,...,0.0,0.0,0.0,6.00,11.00,16495737.0,101.0,8/20/14,NaN,00:00.0
3,3,002_S_0619,77.512329,1.0,0.0,-35472.21632,-23876.106190,-1947.061673,-51088.102680,-81475.10843,...,0.0,0.0,3.0,27.00,40.00,16495993.0,101.0,8/20/14,NaN,00:00.0
4,4,002_S_0685,89.698630,0.0,1.0,-31092.93296,-22643.911490,-1014.786011,-32806.816640,-18280.08397,...,0.0,0.0,1.0,12.00,17.00,16496369.0,101.0,8/20/14,NaN,00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1749,1749,057_S_5292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1750,1750,032_S_5289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1751,1751,114_S_5234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1752,1752,053_S_5272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1753,1753,130_S_5175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df2 = df2.loc[df2['VISCODE2']=='m06', :]
df2

,PHASE,RID,subid,VISCODE,VISCODE2,EXAMDATE,Q1,Q2,Q3,Q4,...,Q11,Q12,Q14,TOTAL11,TOTALMOD,ID,SITEID,USERDATE,USERDATE2,update_stamp
1,ADNI1,1412,041_S_1412,m06,m06,2/5/08,5.33,0,0,8,...,0,0,1,10.33,19.33,16500123,20,8/20/14,NaN,00:00.0
3,ADNI1,1411,041_S_1411,m06,m06,3/25/08,6.00,0,0,8,...,0,0,1,8.00,17.00,16500119,20,8/20/14,NaN,00:00.0
6,ADNI1,1409,128_S_1409,m06,m06,2/20/08,9.00,3,3,10,...,4,1,5,41.00,56.00,16500113,115,8/20/14,NaN,00:00.0
10,ADNI1,1408,128_S_1408,m06,m06,2/6/08,1.00,0,0,0,...,0,0,0,3.00,3.00,16500105,115,8/20/14,NaN,00:00.0
14,ADNI1,1407,128_S_1407,m06,m06,1/28/08,5.33,0,0,5,...,1,0,1,16.33,22.33,16500097,115,8/20/14,NaN,00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3852,ADNI1,1423,041_S_1423,m06,m06,2/15/08,7.00,0,1,10,...,1,0,0,14.00,24.00,16500183,20,8/20/14,NaN,00:00.0
3855,ADNI1,1425,041_S_1425,m06,m06,2/21/08,7.00,0,1,8,...,0,0,1,14.00,23.00,16500189,20,8/20/14,NaN,00:00.0
3861,ADNI1,1426,137_S_1426,m06,m06,4/10/08,4.67,1,1,6,...,0,0,2,7.67,15.67,16500201,124,8/20/14,NaN,00:00.0
3864,ADNI1,1427,127_S_1427,m06,m06,2/19/08,7.33,2,3,10,...,1,0,5,30.33,45.33,16500207,114,8/20/14,NaN,00:00.0
3869,ADNI1,1430,128_S_1430,m06,m06,4/7/08,5.67,2,1,9,...,2,0,2,28.67,39.67,16500217,115,8/20/14,NaN,00:00.0

In [39]:
merged_df = pd.merge(df1, df2, on='subid', how='outer')
merged_df

,Unnamed: 0_x,subid,Age_x,Sex_x,Cohort_x,Diagnosis_x,Region,Tissue,Visual,Measurement,...,Q11,Q12,Q14,TOTAL11_y,TOTALMOD_y,ID,SITEID,USERDATE,USERDATE2,update_stamp
0,0.0,002_S_0816,70.838356,F,1.0,Alzheimer,Cerebellum,CSF,0.0,-25421.113250,...,0.0,0.0,2.0,13.67,22.67,16497009.0,101.0,8/20/14,NaN,00:00.0
1,1.0,002_S_0816,70.838356,F,1.0,Alzheimer,Cerebellum,GM,0.0,-5411.426766,...,0.0,0.0,2.0,13.67,22.67,16497009.0,101.0,8/20/14,NaN,00:00.0
2,2.0,002_S_0816,70.838356,F,1.0,Alzheimer,Cerebellum,WM,0.0,-19072.674790,...,0.0,0.0,2.0,13.67,22.67,16497009.0,101.0,8/20/14,NaN,00:00.0
3,3.0,002_S_0816,70.838356,F,1.0,Alzheimer,Cerebellum,CTh,0.0,0.000000,...,0.0,0.0,2.0,13.67,22.67,16497009.0,101.0,8/20/14,NaN,00:00.0
4,5256.0,002_S_0816,70.838356,F,1.0,Alzheimer,Subcortex,CSF,1.0,5181.427094,...,0.0,0.0,2.0,13.67,22.67,16497009.0,101.0,8/20/14,NaN,00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37236,NaN,057_S_5292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37237,NaN,032_S_5289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37238,NaN,114_S_5234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37239,NaN,053_S_5272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37240,NaN,130_S_5175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# merged_df.pop('path')
merged_df.pop('Unnamed: 0_x')

0           0.0
1           1.0
2           2.0
3           3.0
4        5256.0
          ...
37236       NaN
37237       NaN
37238       NaN
37239       NaN
37240       NaN
Name: Unnamed: 0_x, Length: 37241, dtype: float64

In [44]:
merged_df.to_csv('/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/atrophy_seeds_2023/metadata/updated_with_all_adni/adni_raw_data/master_pivoted.csv')