In [1]:
path_1 = '/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/collaborations/leila_cognition/metadata/bwh_dbs_memory_net_connectivity_VTA_L_ses-dbs_sub-all.csv'
path_2 = '/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/collaborations/leila_cognition/metadata/bwh_dbs_memory_net_connectivity_VTA_R_ses-dbs_sub-all.csv'

In [2]:
import pandas as pd
df1 = pd.read_csv(path_1)
df2 = pd.read_csv(path_2)
df1

             CBCT_ID  SBC Conn (T) L VTA
0    sub-CbctDbs0037           27.002710
1    sub-CbctDbs0040           34.840200
2    sub-CbctDbs0041           18.691215
3    sub-CbctDbs0043           23.390743
4    sub-CbctDbs0048           14.672522
..               ...                 ...
105  sub-CbctDbs0301           22.074089
106  sub-CbctDbs0302           19.999725
107  sub-CbctDbs0305           24.116280
108  sub-CbctDbs0307           32.271168
109  sub-CbctDbs0311           31.981177

[110 rows x 2 columns]

In [4]:
merged_df = pd.merge(df1, df2, on='CBCT_ID', how='outer')
merged_df

             CBCT_ID  SBC Conn (T) L VTA  SBC Conn (T) R VTA
0    sub-CbctDbs0037           27.002710           23.071538
1    sub-CbctDbs0040           34.840200           35.322789
2    sub-CbctDbs0041           18.691215           13.426564
3    sub-CbctDbs0043           23.390743           14.819245
4    sub-CbctDbs0048           14.672522           13.328944
..               ...                 ...                 ...
105  sub-CbctDbs0301           22.074089           24.636564
106  sub-CbctDbs0302           19.999725           22.692682
107  sub-CbctDbs0305           24.116280           23.727623
108  sub-CbctDbs0307           32.271168           27.035122
109  sub-CbctDbs0311           31.981177           26.253068

[110 rows x 3 columns]

In [6]:
merged_df['SBC Conn (T) Average'] = merged_df[['SBC Conn (T) L VTA', 'SBC Conn (T) R VTA']].mean(axis=1)

In [8]:
merged_df.to_csv('/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/collaborations/leila_cognition/metadata/mast_list.csv', index=False)