In [36]:
import pandas as pd 

target_df = pd.read_csv('/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/atrophy_seeds_2023/metadata/updated_with_all_adni/master_dx_updated.csv')
target_df
# print(len(target_df.subid.unique()))

,Unnamed: 0,subid,CSF_Cerebellum,CSF_Subcortex,CSF_MTL,CSF_Occipital,CSF_Frontal,CSF_Parietal,CSF_Temporal,GM_Cerebellum,...,TOTAL11,TOTALMOD,DX_BASELINE,DX_M12,DIAGNOSIS_BL,DIAGNOSIS_CURRENT,DIAGNOSIS_M12,DIAGNOSIS_BL_Str,DIAGNOSIS_CURRENT_Str,DIAGNOSIS_M12_Str
0,50,002_S_0295,-26319.381520,373.297842,-746.688684,-24081.964640,-32607.592110,-18245.868460,-32777.02389,-23248.955500,...,3.00,4.00,Normal,Normal,1.0,1.0,1.0,Normal,Normal,Normal
1,51,002_S_0413,-13670.888710,5009.504947,-449.838607,-8185.340726,-13903.977170,-6191.852471,-13476.49339,-4562.384254,...,3.33,4.33,Normal,Normal,1.0,1.0,1.0,Normal,Normal,Normal
2,58,002_S_0954,-27912.718120,267.960111,-26.245064,-14384.382220,1174.325661,-13108.994170,-11969.39547,24935.280210,...,10.67,21.67,MCI,Alzheimer,2.0,3.0,3.0,MCI,Alzheimer,Alzheimer
3,71,003_S_1057,-3441.984646,8102.022733,-157.009052,-11631.937370,-11106.858210,-14756.563150,-14732.64218,2344.896594,...,11.33,20.33,MCI,MCI,2.0,3.0,2.0,MCI,Alzheimer,MCI
4,74,003_S_1122,-9127.083112,8399.639128,-57.383241,-11919.752740,1985.249349,-7048.794398,-11818.70872,25139.920610,...,5.00,9.00,MCI,MCI,2.0,2.0,2.0,MCI,MCI,MCI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,1383,018_S_0043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.00,10.00,Normal,Normal,1.0,1.0,1.0,Normal,Normal,Normal
1384,1384,100_S_0035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.00,9.00,Normal,Normal,1.0,2.0,1.0,Normal,MCI,Normal
1385,1385,023_S_0030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.00,22.00,MCI,Alzheimer,2.0,3.0,3.0,MCI,Alzheimer,Alzheimer
1386,1386,100_S_0015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.00,9.00,Normal,Normal,1.0,2.0,1.0,Normal,MCI,Normal
1387,1387,100_S_0006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.67,25.67,MCI,MCI,2.0,2.0,2.0,MCI,MCI,MCI

In [37]:
second_df_path = '/Volumes/Expansion/datasets/adni/metadata/raw_information/demographics.csv'

second_df = pd.read_csv(second_df_path)
second_df

,Phase,ID,subid,RID,SITEID,VISCODE,VISCODE2,Sex,Age,VISDATE,...,PTHOME,PTTLANG,PTPLANG,PTCOGBEG,PTMCIBEG,PTADBEG,PTADDX,PTETHCAT,PTRACCAT,update_stamp
0,ADNI1,706,002_S_0295,295,101,sc,sc,M,84.898630,4/4/06,...,1.0,1.0,1.0,NaN,NaN,-4.0,NaN,2.0,5.0,00:00.0
1,ADNI2,182,002_S_0295,295,1,v06,m60,M,90.063014,6/2/11,...,1.0,1.0,1.0,9999.0,NaN,NaN,9999.0,2.0,5.0,19:33.0
2,ADNI1,716,002_S_0413,413,101,sc,sc,F,76.397260,4/6/06,...,1.0,1.0,1.0,NaN,NaN,-4.0,NaN,2.0,5.0,00:00.0
3,ADNI1,2796,002_S_0413,413,101,m12,m12,NaN,107.490411,6/1/07,...,-4.0,-4.0,-4.0,NaN,NaN,-4.0,NaN,-4.0,-4.0,00:00.0
4,ADNI2,230,002_S_0413,413,1,v06,m60,F,81.594521,6/16/11,...,1.0,1.0,1.0,9999.0,NaN,NaN,9999.0,2.0,5.0,05:05.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4852,ADNI3,158279,941_S_7085,7085,59,sc,sc,F,69.745205,6/13/22,...,3.0,1.0,1.0,2018.0,NaN,NaN,9999.0,2.0,4.0,03:02.0
4853,ADNI3,158594,941_S_7087,7087,59,sc,sc,M,67.002740,6/15/22,...,3.0,2.0,1.0,9999.0,NaN,NaN,9999.0,2.0,6.0,20:55.0
4854,ADNI3,159146,941_S_7091,7091,59,sc,sc,F,62.098630,6/22/22,...,1.0,1.0,1.0,9999.0,NaN,NaN,9999.0,2.0,4.0,21:23.0
4855,ADNI3,165274,941_S_7106,7106,59,sc,sc,F,71.572603,9/8/22,...,1.0,1.0,1.0,2019.0,NaN,NaN,9999.0,2.0,5.0,20:29.0
4856,ADNI3,165425,NaN,7065,36,sc,NaN,NaN,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20:35.0

In [39]:
# Get 'bl' subjects from second_df
bl_df = second_df.loc[second_df['VISCODE2'] == 'bl', ['subid', 'Age', 'Sex']]

# Get 'sc' subjects that do not have a corresponding 'bl' entry
sc_no_bl_df = second_df.loc[second_df['VISCODE2'] == 'sc', ['subid', 'Age', 'Sex']]
no_bl_subjects = sc_no_bl_df[~sc_no_bl_df['subid'].isin(bl_df['subid'])]

# Concatenate 'bl' subjects and 'sc' subjects without 'bl' entry
combined_df = pd.concat([bl_df, no_bl_subjects])

combined_df.drop_duplicates(subset='subid', inplace=True)
# Now, left merge with target_df on 'subid', only bringing the 'DIAGNOSIS' column
df = pd.merge(target_df, combined_df[['subid', 'Age', 'Sex']], on='subid', how='left')
# print(len(df.subid.unique()))

In [40]:
df.to_csv('/Users/cu135/Partners HealthCare Dropbox/Calvin Howard/studies/atrophy_seeds_2023/metadata/updated_with_all_adni/master_dx_updated_fix.csv')